ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* Select all instances of a particular element  */
p{
  color: red;
}

/* Se;ect all elements of a particular class  */
.note{
  font-size: 20px;
}


/* Select elements of a particular id  */
#id-selector-demo{
  color: green;
}

/* Select element which has a particular feature  */
li[value = "4"]{
  color: blue;
}

/* Select everything */
*{
  text-align: center;
}